
* {
  margin: 0;
  padding: 0;
}

body {
  --size: 85px;
}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: calc(var(--size) * 8);
  height: calc(var(--size) * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: green;
}

.white {
  background-color: greenyellow;
}

.figure-logo {
  width: var(--size);
  height:  var(--size);
}

.selected {
  background-color: aqua;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: gold;
}